header {
  height: 150px;
  background-color: #5edfff;
  box-shadow: 0 0 10px 1px gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  height: 100%;
}

header h1 {
  color: white;
  margin-left: 50px;
}

